@model Job_Offers_Website.Models.Category

@{
    ViewBag.Title = "تفاصيل صنف الوظيفة";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>تفاصيل صنف الوظيفة</h2>

<div>
    <h4>تفاصيل صنف الوظيفة</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل صنف الوظيفة", "Edit", new { id = Model.id }) 
    @Html.ActionLink("الرجوع إلي قائمة أصناف الوظائف", "Index")
</p>
