@model Job_Offers_Website.Models.Job

@{
    ViewBag.Title = "تفاصيل الوظيفة";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>تفاصيل الوظيفة</h2>

<div>
    <h4>تفاصيل الوظيفة</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.JobContent).ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/uploads/@Html.DisplayFor(model => model.JobImage)" class="thumbnail" style="width:70px; height:70px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل الوظيفة", "Edit", new { id = Model.id }) |
    @Html.ActionLink("الرجوع إلي قائمة الوظائف", "Index")
</p>
